/* STOLEN FROM https://frontend.horse/articles/thinking-outside-the-box-with-css-grid/ */

:root {
  --font-base-size: 1em;
  --font-scale-ratio: 1.3;

  --color-text: oklch(20% 0.009 248.19);
  --color-text-200: var(var(--color-text));
  --color-text-300: oklch(30% 0.009 248.19);
  --color-text-400: oklch(40% 0.009 248.19);
  --color-background: #fff;

  --font-size-sm: calc(var(--font-base-size) / var(--font-scale-ratio));
  --font-size-md: var(--font-base-size);
  --font-size-lg: calc(var(--font-size-md) * var(--font-scale-ratio));
  --font-size-xl: calc(var(--font-size-lg) * var(--font-scale-ratio));
  --font-size-2xl: calc(var(--font-size-xl) * var(--font-scale-ratio));
  --font-size-3xl: calc(var(--font-size-2xl) * var(--font-scale-ratio));
  --font-size-4xl: calc(var(--font-size-2xl) * var(--font-scale-ratio));

  --space-unit: 1em;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(1.5 * var(--space-unit));
  --space-xl: calc(2 * var(--space-unit));
  --space-2xl: calc(3.25 * var(--space-unit));
  --space-3xl: calc(5.25 * var(--space-unit));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 56rem;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--color-text);
  background-color: var(--color-background);
}

main {
  font-size: var(--font-size-lg);
  line-height: 1.6;
  font-weight: 300;

  h1,
  p {
    padding: var(--space-sm) 0;
  }

  hr {
    margin: var(--space-xl) 0;
  }
  svg {
    display: block;
    margin: 0 auto;
    height: 5rem;
    margin: var(--space-xl) 0;
  }
}

a {
  color: inherit;

  &:active {
    color: var(--color-text-300);
  }

  &:hover {
    color: var(--color-text-400);
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--space-md) 0;

  svg {
    margin: 0 auto;
    margin: 0 var(--space-sm);
  }
}
