<!doctype html>
<html lang="en">
  <head>
    <title>$title$</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Tired dad write about life with smol baby.">
    <link
      rel="preload"
      href="/fonts/Rubik.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link href="style.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <nav></nav>
    <main>
      <h1>$title$</h1>
      $body$
    </main>
  </body>
</html>
