<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>$title$</title>
    <meta name="description" content="Tired dad write about life with smol baby." />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="tireddadnotes.com" />
    <meta property="og:title" content="Tired Dad Notes" />
    <meta property="og:description" content="Tired dad write about life with smol baby." />
    <meta property="og:image" content="https://tireddadnotes.com/social.png" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="tireddadnotes.com" />
    <meta property="twitter:title" content="Tired Dad Notes" />
    <meta property="twitter:description" content="Tired dad write about life with smol baby." />
    <meta property="twitter:image" content="https://tireddadnotes.com/social.png" />
    <meta name="twitter:image" content="https://tireddadnotes.com/social.png">

    <link rel="preload" href="fonts/Rubik.woff2" as="font" type="font/woff2" crossorigin />
    <link href="style.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="manifest" href="site.webmanifest">
  </head>
  <body>
    <nav></nav>
    <main>
      <h1>$title$</h1>
      $body$
    </main>
  </body>
</html>
